@model BookViewModel

@{
    ViewData["Title"] = "Edit Book";
}


<div class="alert bg-light-primary border border-primary border-3 border-dashed d-flex justify-content-between w-100 p-5 mb-10">
    <div class="d-flex align-items-center">
        <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold text-success">
                <span class="svg-icon svg-icon-2 svg-icon-primary">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.3" d="M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525Z" fill="currentColor"></path>
                        <path d="M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z" fill="currentColor"></path>
                    </svg>
                </span>
            </div>
        </div>
        <div class="d-flex flex-column pe-0 pe-sm-10">
            <h5 class="mb-1">Edit Book</h5>
        </div>
    </div>
</div>

<div class="card shadow-sm">

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form method="post" asp-controller="Books" asp-action="UpdateBook" enctype="multipart/form-data"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-begin="onModalBegin()"
                      data-ajax-complete="onModalComplete()"
                      data-ajax-success="onModalSuccess"
                      data-ajax-failure="onFailure">

                      <div>
                          <input hidden asp-for="Id"></input>
                      </div>

                    <!-- Title -->
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" placeholder="Title" asp-for="Title" required />
                            <label asp-for="Title"></label>
                        </div>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <!-- Author -->
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <select class="form-select" asp-for="AuthorId" required asp-items="@Model.Authors">
                                <option disabled selected value="">Select Author</option>

                            </select>
                            <label asp-for="AuthorId"></label>
                        </div>
                        <span asp-validation-for="AuthorId" class="text-danger"></span>
                    </div>


                    <!-- Publisher -->
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" placeholder="Publisher" asp-for="Publisher" />
                            <label asp-for="Publisher"></label>
                        </div>
                        <span asp-validation-for="Publisher" class="text-danger"></span>
                    </div>

                    <!-- Publisher Date-->
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="date" class="form-control" placeholder="PublishDate" asp-for="PublishDate" />
                            <label asp-for="PublishDate"></label>
                        </div>
                        <span asp-validation-for="PublishDate" class="text-danger"></span>
                    </div>

                    <div>
                        <!-- Image preview (initially showing the model's image or a placeholder) -->
                        <img id="imagePreview"
                             src="@(string.IsNullOrEmpty(Model.ImageUrl) ? "/images/default/Bookavatar.jpg" : $"/{Model.ImageUrl}")"
                             class="img-thumbnail"
                             alt="Image Preview"
                             style="max-width: 200px;" />
                    </div>

                    <!-- Image Upload Input -->
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input asp-for="Image" type="file" class="form-control" id="imageInput" accept="image/*" />
                            <label asp-for="Image">Choose an Image</label>
                        </div>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>

                    <!-- Hall -->
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" placeholder="Hall" asp-for="Hall" required />
                            <label asp-for="Hall"></label>
                        </div>
                        <span asp-validation-for="Hall" class="text-danger"></span>
                    </div>

                    <!-- Availability -->
                    <div class="mb-5 form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsAvailableForRental" id="availabilityCheckbox" />
                        <label class="form-check-label" asp-for="IsAvailableForRental"></label>
                        <span asp-validation-for="IsAvailableForRental" class="text-danger"></span>
                    </div>


                    <!-- Categories -->
                    <div class="mb-5">
                        <label asp-for="Categories" class="form-label"></label>
                        <select asp-for="SelectedCategoryIds" class="form-select" multiple="multiple" required>
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Value">@category.Text</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedCategoryIds" class="text-danger"></span>
                    </div>



                    <!-- Description -->
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <textarea class="form-control" placeholder="Description" asp-for="Description"></textarea>
                            <label asp-for="Description"></label>
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary btn-sm" id="submitBtn">
                        <i class="bi bi-check2"></i>
                        <span class="loading-indicator" style="display: none;">Loading...</span>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>



@section Styles
{
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
}


@section Scripts {


    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- JavaScript to update the image preview -->
    <script>
        document.getElementById('imageInput').addEventListener('change', function (event) {
            var input = event.target;

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    document.getElementById('imagePreview').src = e.target.result; // Update the image preview
                };

                // Read the image file as a data URL
                reader.readAsDataURL(input.files[0]);
            }
        });
    </script>
}
