@model SubscriberFormViewModel

@{
    ViewData["Title"] = "Subscriber Form";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">@( string.IsNullOrEmpty(Model.Key) ? "Add" : "Edit") Subscriber</h3>
    </div>
    <div class="card-body">
        <form method="post" asp-controller="Subscribers" enctype="multipart/form-data"  id="Form">

            @if (!string.IsNullOrEmpty(Model.Key))
            {
                <input type="hidden" asp-for="Key" />
                <input type="hidden" asp-for="ImageUrl" />
                <input type="hidden" asp-for="ImageThumbnailUrl" />
                <input type="hidden" asp-for="CreatedById" />
                <input type="hidden" asp-for="LastUpdatedById" />
            }
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label fw-semibold fs-6" asp-for="Image"></label>
                <div class="col-lg-8">
                    <div class="image-input image-input-empty" data-kt-image-input="true" style="background-image: url(@(string.IsNullOrEmpty(Model.ImageUrl) ? "/assets/images/avatar-blank.svg" : Model.ImageThumbnailUrl))">
                        <div class="image-input-wrapper w-100px h-100px"></div>
                        <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <input type="file" asp-for="Image" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="avatar_remove" />
                        </label>
                        <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                    </div>
                    <div class="form-text">Allowed file types: png, jpg, jpeg and cannot be more than 2 MB</div>
                    <span asp-validation-for="Image" class="text-danger d-block"></span>
                </div>
            </div>

            <!-- Full Name -->
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Full Name</label>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First name" asp-for="FirstName" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Last name" asp-for="LastName" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Date of Birth -->
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6" asp-for="DateOfBirth"></label>
                <div class="col-lg-8">
                    <input type="text" class="form-control form-control-lg form-control-solid js-rangepicker" placeholder="Date of Birth" asp-for="DateOfBirth" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>

            <!-- National ID -->
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6" asp-for="NationalId"></label>
                <div class="col-lg-8">
                    <input type="text" class="form-control form-control-lg form-control-solid" placeholder="National ID" asp-for="NationalId" />
                    <span asp-validation-for="NationalId" class="text-danger"></span>
                </div>
            </div>

            <!-- Contacts -->
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Contacts</label>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Email" asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Mobile number" asp-for="MobileNumber" />
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Governorate/Area -->
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Governorate/Area</label>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <select id="governorateSelect" aria-label="Select a Governorate" data-control="select2" data-placeholder="Select a governorate..." class="form-select form-select-solid form-select-lg fw-semibold" asp-for="GovernorateId" asp-items="Model.Governorates">
                                <option value="">Select a governorate...</option>
                            </select>
                            <span asp-validation-for="GovernorateId" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <select id="citySelect" asp-items="Model.Areas" aria-label="Select an Area" data-control="select2" data-placeholder="Select an area..." class="form-select form-select-solid form-select-lg fw-semibold" asp-for="AreaId">
                                <option value="">Select an area...</option>
                              @*   @foreach (var area in Model.Areas)
                                {
                                    <option value="@area.Value">@area.Value</option>


                                } *@
                            </select>
                            <span asp-validation-for="AreaId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Address -->
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label required fw-semibold fs-6" asp-for="Address"></label>
                <div class="col-lg-8">
                    <textarea class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Address" asp-for="Address"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <!-- WhatsApp -->
            <div class="row mb-6">
                <label class="col-lg-4 col-form-label fw-semibold fs-6">Has WhatsApp?</label>
                <div class="col-lg-8 pt-3">
                    <label class="form-check form-check-custom form-check-inline form-check-solid me-5">
                        <input class="form-check-input" type="checkbox" asp-for="HasWhatsApp" />
                        <span class="fw-semibold ps-2 fs-6">Yes</span>
                    </label>
                    <span asp-validation-for="HasWhatsApp" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary" form="Form">
            <span class="indicator-label">Save</span>
            <span class="indicator-progress">Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
        </button>
        <a class="btn btn-light text-primary ms-3" asp-action="Index">Cancel</a>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/subscriber-form.js" asp-append-version="true"></script>

}