@model Bookify.Web.DTO.CategoryDTO

    @{
        ViewData["Title"] = "Edit Category";
    }

    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">Edit Category</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                <form method="post" asp-controller="Categories" asp-action="UpdateCategory">
                        <input type="hidden" asp-for="Id" /> <!-- Hidden field for category Id -->
                        <div class="mb-3">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" placeholder="Category Name" asp-for="Name" required />
                                <label asp-for="Name"></label>
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>


                    <div class="mb-5">
                        <label asp-for="IsDeleted" class="form-label">Is Deleted</label>
                        <select asp-for="IsDeleted" class="form-select" required>
                            <option selected disabled value="">Select an option</option>
                            <option value="false">Available</option>
                            <option value="true">Deleted</option>

                        </select>
                        <span asp-validation-for="IsDeleted" class="text-danger"></span>
                    </div>


                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="bi bi-check2"></i>
                            Save
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section Scripts
    {
        <partial name="_ValidationScriptsPartial" />
    }
